// sizing helpers settings
$range-start: 50
$range-end: 400
$interval: 50

$current: $range-start
@while $current < $range-end
  @each $dimension in 'width' 'height'
    @each $modifier in 'max' 'min'
      .has-#{$modifier}-#{$dimension}-#{$current} 
        #{$modifier}-#{$dimension}: #{$current}px !important
        
  $current: $current + $interval